In [1]:
import csv
import pandas as pd
import numpy
from sklearn.feature_extraction.text import CountVectorizer

In [2]:
url = open ("/content/twitter_training.csv", 'r')
names = ["word", "class"]
data= pd.read_csv(url, names=names)
data

                       word                                              class
2401  Borderlands  Positive  im getting on borderlands and i will murder yo...
      Borderlands  Positive  I am coming to the borders and I will kill you...
      Borderlands  Positive  im getting on borderlands and i will kill you ...
      Borderlands  Positive  im coming on borderlands and i will murder you...
      Borderlands  Positive  im getting on borderlands 2 and i will murder ...
...                     ...                                                ...
11944 Verizon       Neutral  The last 3 August’s I have broken my phone. Th...
      Verizon       Neutral  The last 3 August's I've broken my phone. This...
      Verizon       Neutral  The last time I broke my phone was on August 3...
      Verizon       Neutral  The last 3 August’s I have broken my phone. Th...
      Verizon       Neutral                                                 7

[46295 rows x 2 columns]

In [3]:
#validasi
word_X = data["word"]
word_Y = data["class"]
word_Y #terserah mau baca yang x atau y

2401   Borderlands    im getting on borderlands and i will murder yo...
       Borderlands    I am coming to the borders and I will kill you...
       Borderlands    im getting on borderlands and i will kill you ...
       Borderlands    im coming on borderlands and i will murder you...
       Borderlands    im getting on borderlands 2 and i will murder ...
                                            ...
11944  Verizon        The last 3 August’s I have broken my phone. Th...
       Verizon        The last 3 August's I've broken my phone. This...
       Verizon        The last time I broke my phone was on August 3...
       Verizon        The last 3 August’s I have broken my phone. Th...
       Verizon                                                       7
Name: class, Length: 46295, dtype: object

In [4]:
from pandas.core.computation.parsing import token
def hitung_token(wm, feat_names):
  doc_names = ['data{:d}'. format(idx) for idx, _ in enumerate(wm)]
  df=pd.DataFrame(data=wm.toarray(), index=doc_names, columns=feat_names)

  return (df)

token= CountVectorizer(lowercase=True)
wm = token.fit_transform(word_X)
hasil_token= token.get_feature_names()

hitung_token(wm, hasil_token)

/usr/local/lib/python3.8/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

           irrelevant  negative  neutral  positive
data0               0         0        0         1
data1               0         0        0         1
data2               0         0        0         1
data3               0         0        0         1
data4               0         0        0         1
...               ...       ...      ...       ...
data46290           0         0        1         0
data46291           0         0        1         0
data46292           0         0        1         0
data46293           0         0        1         0
data46294           0         0        1         0

[46295 rows x 4 columns]